# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/target
/target/*
/bin
/bin/*
/bin/
/.settings
/.settings/*
.classpath
.project
/updates/*
*.iml
/.idea
/.idea/*